#banker_control_panel
  .welcome-box
    .user-greeting
      %span.hi Hi,
      %span.name= "#{current_user.first_name}"
  .dashboard-button.first
    = link_to 'New Susu', new_susu_path
  .dashboard-button
    = link_to "Send Text", "#"
  .dashboard-button
    = link_to "Send Email", "#"

