#banker_control_panel
  .welcome-box
    .user-greeting
      %span.hi Hi,
      %span.name= "#{current_user.email}"

  .dashboard-action-button
    = link_to 'New Susu', new_susu_path, class: ''
  .dashboard-action-button
    = link_to "Send Text", "#"
  .dashboard-action-button
    = link_to "Send Email", "#"

