/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        \...
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes

#banker_control_panel
  .welcome-box
    .user-greeting
      %span.hi Hi,
      %span.name= "#{current_user.first_name}"
      %p.last_sign_in
        = visit_count
  - if is_controller? 'dashboard' || (is_controller? 'susu' && action_name == 'new ')
    .dashboard-button.first
      = link_to 'New Susu', new_susu_path
    .dashboard-button
      = link_to 'SusuBuilder ', '#'
    .dashboard-button
      = link_to "Send Text", "#"
    .dashboard-button
      = link_to "Send Email", "#"
    / Button trigger modal
    %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      Launch demo modal

  - else is_controller? 'susu' && show_page?
    .dashboard-button.first
      %a{:href => "#", id: 'add-member-button'} Add Member
    .dashboard-button
      %a{id: 'clear-view_btn'} ClearView

