#banker_control_panel
  .welcome-box
    .user-greeting
      %span.hi Hi,
      %span.name= "#{current_user.first_name}"
      %p.last_sign_in
        = visit_count
  - if is_controller? 'dashboard' || (is_controller? 'susu' && action_name == 'new ')
    .dashboard-button.first
      = link_to 'New Susu', new_susu_path
    .dashboard-button
      = link_to 'SusuBuilder ', '#'
    .dashboard-button
      = link_to "Send Text", "#"
    .dashboard-button
      = link_to "Send Email", "#"
  - else is_controller? 'susu' && show_page?
    .dashboard-button.first
      %a{:href => "#", id: 'add-member-button'} Add Member
    .dashboard-button
      = link_to 'Whatever ', '#'

