= form_for(@susu) do |f|
  - if @susu.errors.any?
    #error_explanation
      %h2
        = pluralize(@susu.errors.count, "error")
        prohibited this susu from being saved:
      %ul
        - @susu.errors.full_messages.each do |message|
          %li= message
  #susu-form-label-group
    .susu-form-label
      = f.label :name
    .susu-form-label
      = f.label :start_date
    .susu-form-label
      = f.label :scheduled_contribution
    .susu-form-label
      = f.label :member_count
    .susu-form-label
      = f.label :total_value, "Total Value"
  #susu-form-input-group
    %div
      = f.text_field :name, auto_focus: true, class: 'input-margin'
    %div
      = f.date_field :start_date, class: 'input-margin'
    %div
      = f.select(:scheduled_contribution, options_for_select([['Every Week', 1], ['Every Two Weeks', 2], ['Monthly', 3]]), {}, {class: 'input-margin select-box'})
    %div
      = f.number_field :member_count, class: 'input-margin'
    %div
      = f.number_field :total_value, class: 'input-margin'
  .actions
    %button.btn.btn-warning#calculate{:type => "button"} Calculate
    %button.btn.btn-warning#clear{:type => "button"} Clear
    = f.submit "Create Susu", class: 'btn btn-success'
