%section
  %div
    - @susus.each do |susu|
      = link_to susu do
        .susu
          .header
            %span.susu-name
              = susu.name
            .pointer
          .info
            %p
              = format_start_date(susu)
            %p
              = display_member_count(susu)
            %p
              = display_payout(susu)
%br/
