<h3>Listing susus</h3>
<%= link_to 'New Susu', new_susu_path %>
<section>
  <div>
    <% @susus.each do |susu| %>
      <div class='susu'>
        <p><%= susu.name %></p>
        <p><%= susu.total_value %></p>
        <p><%= susu.created_at %></p>

        <span><%= link_to 'Show', susu %></span>
        <span><%= link_to 'Edit', edit_susu_path(susu) %></span>
        <span><%= link_to 'Destroy', susu, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>

    <% end %>
  </div>
</section>

<br>


