= render partial: 'shared/brand_bar'
- if signed_in?
  .dashboard-bar
    - unless current_page?('/dashboard')
      = link_to "dashboard", dashboard_path
- else
  = link_to "About Us", about_path
  = link_to "Learn More", learn_path
  = link_to "Contact Us", contact_path
