= form_for @member do |f|
  = hidden_field_tag(:susu_id, @susu.id)
  - if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name, auto_focus: true

  .field
    = f.label :last_name
    = f.text_field :last_name

  .field
    = f.label :email
    = f.email_field :email

  #save-member-button.actions
    = f.submit 'Save'
